<template name="parents">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="form" class="new-parents">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" name="nom" class="form-control" id="exampleInputEmail1" placeholder="Nom">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Prénom</label>
            <input type="text" name="prenom" class="form-control" id="exampleInputPassword1" placeholder="Prénom">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Adresse</label>
            <input type="text" name="adresse" class="form-control" id="exampleInputEmail1" placeholder="Adresse">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Tel. domicile</label>
            <input type="text" name="telfix" class="form-control" id="exampleInputEmail1" placeholder="Tel. domicile">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Tel. travail</label>
            <input type="text" name="telpro" class="form-control" id="exampleInputEmail1" placeholder="Tel. travail">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">e-mail</label>
            <input type="text" name="email" class="form-control" id="exampleInputEmail1" placeholder="e-mail@">
          </div>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</template>
